* {
      box-sizing: border-box;
}
.container1{
    align-items:center;
}
 .container{
       float: left;
       width: 50%;
       padding: 20px;
       height: 300px;
 }
 input{
     border:2px solid black;
     width:100px;
     margin-bottom:10px;
 }
lable{
    latter-spacing:23px;
}

#div2{
    width:200px;
    border-bottom:5px solid black;
    background-color:blue;
    height:200px;
    border-top:5px solid black;
}